[defaults]
inventory = inventory/aws_ec2.yml
roles_path = roles
host_key_checking = True
remote_user = ubuntu
retry_files_enabled = False
private_key_file = ~/Projects/edu/DevOps-Core-Course/labs/terraform/labsuser.pem

[privilege_escalation]
become = True
become_method = sudo
become_user = root